<ion-header [translucent]="true" >
  <ion-toolbar >
    <ion-icon name="power" aria-label="Cerrar Sesión" slot="end" style="color: white;"></ion-icon>
    <ion-title style="font-family: BebasNeue;font-size: 50px;color: white;">
      Camello's Food
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>