<ion-header [translucent]="true">
  <ion-toolbar color="primary" style="height: 75px; display: flex; align-items: center;">
    <ion-buttons slot="start">
          <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulos_repa" style="font-family: 'BebasNeue', sans-serif;">Menú principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">

    <ion-toolbar>
      <ion-title size="large">Menú principal</ion-title>
    </ion-toolbar>

  </ion-header>



</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align:center"> ● Estás desconectado </ion-title>
  </ion-toolbar>
</ion-footer>

