.titulos_repa {
    text-align: left;
    font-size: 30px; /* Centrado papu */
  }

/* Fondo temporal de la vista principal */

.background-image {
  --background: url('../../assets/img/map_background2.png') no-repeat center center fixed;
  background-size: cover;
}

