<ion-tabs>

  <ion-tab-bar slot="bottom" style="padding: 18px;">
    <ion-tab-button tab="productos-registro" href="/tabs/productosRegistro">
      <ion-icon  style="font-size: 30px;" aria-hidden="true" name="pricetags"></ion-icon>
      <ion-label style="font-family: BebasNeue; font-size: 20px;">Productos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="pedidos-registro" href="/tabs/pedidosRegistro" >
      <ion-icon style="font-size: 30px;"aria-hidden="true" name="file-tray"></ion-icon>
      <ion-label style="font-family: BebasNeue;font-size: 20px;">Pedidos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
