<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="1">
            <ion-back-button defaultHref="/pedidos-registro" style="--color:white;"></ion-back-button>
        </ion-col>
        <ion-col>
          <ion-title style="color: white;font-family: BebasNeue;font-size: 30px;">
            <h1 style="text-align: center;">Agregar Producto</h1>
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">productos-agregar</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="productForm" (ngSubmit)="onFormSubmit(productForm.value)">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="productoInstancia.nombre" formControlName="prod_nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input type="number" [(ngModel)]="productoInstancia.precio" formControlName="prod_precio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea [(ngModel)]="productoInstancia.descripcion" formControlName="prod_desc"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Categoria</ion-label><!-- esto tiene que ser un cbobox -->
        <ion-item>
        <ion-select label="Categoria" [(ngModel)]="productoInstancia.categoria" 
                    placeholder="SELECCIONE CATEGORIA" formControlName="prod_categoria"
                    (ngModelChange)="productoInstancia.categoria = $event">
          <ion-select-option *ngFor="let categoria of lsCategorias;" [value]="categoria" >{{categoria.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
      <br>
    </ion-item>
    <ion-button type="submit" shape="round" color="primary" expand="block"
      [disabled]="!productForm.valid || !productoInstancia.categoria.id" style="font-family: BebasNeue;font-size: 30px;">Agregar Producto</ion-button>
  </form>
</ion-content>
