ion-toolbar{
    --background:var(--camello-primary);
}
ion-header{
    padding:10px;
    background: var(--camello-primary);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
ion-icon{
    font-size: 3vh;
}

ion-button{
    border-radius: 30px;
}

ion-row{
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
ion-col{
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
ion-grid{
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
ion-text{
    line-height: normal;
    word-spacing: 2px;
}

.botones-productos-crud{
    padding: 3px 3px; 
    font-family: BebasNeue;
    font-size: 22px;
    background-color: rgb(238, 238, 238);
    border:2px solid rgb(192, 192, 192);
}

.desc-prod{
    text-align: justify;
    font-size: 14px;
    font-family: RobotoRegular;
}