ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.titulos_repa {
  text-align: left;
  font-size: 30px; /* Centrado papu */
}

/* Fondo temporal de la vista principal */

.background-image {
  --background: url('../assets/img/map_background2.png') no-repeat center center fixed;
  background-size: cover;
}



/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 #gmp-map {
  height: 100%;
}

.mapa-container {
  position: relative;
  width: 100%;
  height: 437px; /* Ajusta la altura según tus necesidades */
  overflow: hidden;
}

.mapaGoogle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

