<ion-header [translucent]="true">
  <ion-toolbar color="primary" style="height: 75px; display: flex; align-items: center;">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulos_repa" style="font-family: 'BebasNeue', sans-serif;">CAMELLO’S Repartidor</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="background-image">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CAMELLO’S Repartidor</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- a futuro pienso cambiar los primary por los camello, pero por ahora no  me funciona xd -marcus -->

  <ion-fab vertical="bottom" horizontal="center" slot="fixed"> 
    <ion-button shape="round" color="primary" class="custom-button" style="margin-left: -50px;">
      <p routerLink="/iniciar-sesion">Iniciar sesión</p>
    </ion-button>
  </ion-fab>
  

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align:center"> ● Estás desconectado </ion-title>
  </ion-toolbar>
</ion-footer>

