<ion-header [translucent]="true">
  <ion-toolbar color="primary" style="height: 75px; display: flex; align-items: center;">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulos_repa" style="font-family: 'BebasNeue', sans-serif;">Lista de pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">lista-pedidos</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list class="ion-text-center">
    <ion-button (click)="mostrarPedidos('disponible')" color="success">Disponibles</ion-button>
    <ion-button (click)="mostrarPedidos('completado')" color="danger">Completados</ion-button>
    <ion-button (click)="mostrarPedidos('reparto')" color="tertiary">En reparto</ion-button>
  </ion-list>
  
  <ion-list class="ion-text-center">
    <ion-button (click)="mostrarTodosLosPedidos()" color="primary">Mostrar Todos</ion-button>
  </ion-list>


  <!-- Mostrar los pedidos según el estado seleccionado -->
  <ion-card *ngFor="let pedido of pedidosMostrados">
    <ion-card-header>
      <ion-card-title>{{ pedido.titulo }}</ion-card-title>
      <ion-card-subtitle>{{ pedido.numeroOrden }}</ion-card-subtitle>
      <ion-card-subtitle [ngStyle]="{'color': pedido.estado === 'completado' ? 'red' : (pedido.estado === 'reparto' ? 'blue' : 'green')}">{{ pedido.estado }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Imagen del pedido" [src]="pedido.imagen" class="imagen-pedido" />
          </ion-thumbnail>
          <ion-button color="primary">Detalles</ion-button>

          
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-modal
    trigger="open-modal"
    [initialBreakpoint]="0.25"
    [breakpoints]="[0, 0.25, 0.5, 0.75]"
    handleBehavior="cycle"
  >
    <ng-template>
      <ion-content class="ion-padding">
        <div class="ion-margin-top">
          <ion-label>Click the handle above to advance to the next breakpoint.</ion-label>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align:center; color:#BB0C0C" class="page-texts"  routerLink="/menu-repa"> Regresar </ion-title>
  </ion-toolbar>
</ion-footer>
