.titulos_repa {
    text-align: center;
    font-size: 30px; /* pido perdón por copiar esto a cada ratoxdxdxd */
  }

.centered-text {
  text-align: center;
}

.recovery_pass{
  color: #0D57FF;
}

.exit_pass {
  color:#BB0C0C;
}

.button-margin {
  margin-top: 40px; /* Bajar el botón y las cosas locas */
  width: 170px;
}
