<ion-header [translucent]="true">
  <ion-toolbar color="primary" style="height: 75px; display: flex; align-items: center;">
    <ion-title class="titulos_repa" style="font-family: 'BebasNeue', sans-serif;">Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  menu="false">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">iniciar-sesion</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>

    <ion-item>
      <ion-label position="floating">Ingrese su RUT</ion-label>
      <ion-input [(ngModel)]="rut" (ngModelChange)="formatRut($event)" maxlength="12"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Ingrese su contraseña</ion-label>
      <ion-input type="{{ showPassword ? 'text' : 'password' }}" [(ngModel)]="password" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>Mostrar contraseña</ion-label>
      <ion-checkbox [(ngModel)]="showPassword" (ionChange)="togglePasswordVisibility()"></ion-checkbox>
    </ion-item>
  
  </ion-list>
  

  <ion-list class="ion-text-center">

    <ion-button size="default" (click)="iniciarSesion()" class="button-margin">Iniciar sesión</ion-button>

    <p class="centered-text recovery_pass" routerLink="/recuperar-password">Olvidé la contraseña</p>

    <p class="centered-text exit_pass" routerLink="/folder/inbox">Regresar</p>


  
  </ion-list>
  

  

</ion-content>
